body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
  min-height: 60vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h4, p, li {
  color: whitesmoke;
  text-align: center;
}

.taskdashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  flex-wrap: wrap;
}

.taskdashboard input {
  padding: 2vh 2%; /* Adjusted padding with percentage */
  text-align: center;
  border-radius: 3vh;
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin-bottom: 2vh;
  width: 50%; /* Set input width with percentage */
}

.taskdashboard button {
  font-size: 3vh;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid #04aa6d;
  transition-duration: 0.4s;
  padding: 1.5vh;
  border-radius: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
}

.tasks {
  position: relative;
  top: 6vh;
}

h4 {
  margin-top: 2vh;
}

li {
  width: 90%; /* Set a percentage width for better responsiveness */
  margin: 2vh auto; /* Center the list item and adjust margin */
  text-align: left;
  background-color: transparent;
  padding: 1vh;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  list-style: none;
  top: 4vh;
}

.tasks-list {
  position: relative;
  top: 10px;
  left: 10px;
}

.icons-list {
  position: relative;
  bottom: 10px;
  left: 0;
}

hr {
  width: 85%;
}

.icons {
  position: relative;
  text-align: center;
}

.icons i {
  margin-left: 90vh; /* Adjusted margin with percentage */
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: red;
}

#todo-header {
  margin-top: 4vh;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .taskdashboard input {
    width: 100%; /* Set input width to 100% for smaller screens */
  }

  .icons i {
    margin-left: 38vh; /* Adjusted margin with percentage */
    font-size: large;
    cursor: pointer;
    transition: 0.1s;
  }
  .taskdashboard input {
    padding: 2vh 1%; /* Adjusted padding with percentage */
    text-align: center;
    border-radius: 3vh;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 50%; /* Set input width with percentage */
  }

  #todo-header,hr{
    margin-bottom : 4vh;
  }
  
}
