body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
  min-height: 60vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h4,
p,
li {
  color: whitesmoke;
  text-align: center;
}

.taskdashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.taskdashboard input {
  padding: 2vh 15px; /* Adjusted padding */
  text-align: center;
  border-radius: 3vh;
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin-right: 2vh;
  border-width: 1px;
}

.taskdashboard button {
  font-size: 3vh;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid #04aa6d;
  transition-duration: 0.4s;
  padding: 1.5vh;
  border-radius: 3vh;
  border-width: 1px;
}

.taskdashboard button:hover {
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
}

.tasks {
  position: relative;
  top: 6vh;
}

h4 {
  margin-top: 2vh;
}

li {
  position: relative;
  margin: 5vh;
  text-align: left;
  background-color: transparent;
  padding: 0px;
  border: 2px solid whitesmoke; /* Changed border property */
  border-radius: 5px; /* Changed border-radius property */
  list-style: none;
  border-width: 1px;
}

.tasks-list {
  position: relative;
  top: 10px;
  left: 10px;
}

.icons-list {
  position: relative;
  bottom: 10px;
  left: 130px;
}

hr {
  width: 85%;
}

.icons {
  position: relative;
  left: 70vh; /* Adjusted left property */
}

.icons i {
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: red;
}

#todo-header {
  margin-top: 4vh;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .icons-list i {
    position: relative;
    right: 55vh;
  }

  .tasks-list {
    position: relative;
    top: 14px;
    left: 10px;
  }

  .taskdashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
  }

  p {
    font-size: small;
  }
}
